<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanzheng.myblog.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tanzheng.myblog.entity.Comment">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="create_date" property="createDate" />
        <result column="article_id" property="articleId" />
        <result column="author_id" property="authorId" />
        <result column="parent_id" property="parentId" />
        <result column="to_uid" property="toUid" />
        <result column="level" property="level" />
    </resultMap>

</mapper>
